<div class="container-fluid">
    <div style="height: 90px;">
    </div>
    <div class="bg-white bg-light row text-center justify-content-around align-items-center">


    </div>

    <div class="container py-2">
        <h1 class="display-3">Sobre nós</h1>
        <p class="lead text-muted mb-0">Poupe app foi fundada no final de 2019, no bairro do Carandiru, em São
            Paulo,
            por cinco amigos empreendedores: Aline Monteiro, Lucas Augusto, Paulo Miranda, Matheus Dalves e
            Thatyana
            Soeiro. Estudaram juntos no programa Generation.</p>
        <div class="row d-flex justify-content-center mt-5 ">
            <iframe class="embed-responsive-item" width="700" height="400"
                src="https://www.youtube.com/embed/v5-PnOm5E-k" frameborder="10"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

    </div>

    <div class="container py-5 bg-white">

        <div>
            <hr>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6 order-2 order-lg-1">
                <h2 class="display-4">Missão</h2>
                <p class="lead text-muted mb-0">Fazer que as pessoas economizem dinheiro ao aproveitar as promoções mais
                    próximas e assim aquecer a economia local e aumentar o poder aquisitivo da comunidade como um todo.
                </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="/assets/missaoImg.jpg" alt="" class="img-fluid"></div>
        </div>

        <div>
            <hr>
        </div>



        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1">
                <h2 class="display-4">Visão</h2>
                <p class="lead text-muted mb-0">Ser empresa de referência, reconhecida como a melhor opção por clientes,
                    colaboradores e comunidade, pela qualidade de nossos serviços.</p>
                <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="assets/visaoImg.jpg" alt=""
                    class="img-fluid  mb-lg-0"></div>
        </div>

        <div>
            <hr>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="assets/valoresImg.jpg" alt="" class="img-fluid mb-4 mb-lg-0">
            </div>
            <div class="col-lg-6">
                <h2 class="display-4">Valores</h2>
                <p class="lead text-muted mb-0">
                    • Inovação<br />
                    • Liderança<br />
                    • Responsabilidade<br />
                    • Integridade<br />
                    • Paixão<br />
                    • Colaboração<br />
                    • Qualidade<br />
                    <!-- </p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5 bg-light">
    <div class="row text-center justify-content-center p-3">
        <!-- Team item-->
        <div class="container">
            <div class="row">
                <div class='col-md-10 offset-md-1 text-center mb-5 mt-5'>
                    <h2>Nosso Time</h2>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-10 offset-md-1'>
                    <div class="carousel slide sq-crousal4" data-ride="carousel" id="sq-crousal4">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#sq-crousal4" data-slide-to="0" class="active"></li>
                            <li data-target="#sq-crousal4" data-slide-to="1"></li>
                            <li data-target="#sq-crousal4" data-slide-to="2"></li>
                            <li data-target="#sq-crousal4" data-slide-to="3"></li>
                            <li data-target="#sq-crousal4" data-slide-to="4"></li>
                        </ol>

                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner">

                            <!-- Quote 1 -->
                            <div class="carousel-item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-md-10 offset-md-1 d-md-flex d-block text-center text-lg-left">
                                            <img class="rounded-circle img-fluid" src="assets/Foto_Aline.jpg"
                                                style="width: 200px;height:200px;">

                                            <div class="feedback-text pl-3">
                                                <h3>Aline Monteiro</h3>
                                                <p>Camaleônica, apaixonada por viajar e conhecer novas visões de mundo.
                                                    Estudou comércio exterior, estuda engenharia de produção e
                                                    recentemente descobriu a programação ao participar do programa
                                                    Generation.
                                                    Tem orgulho por contribuir em aumentar o numero de mulheres na
                                                    tecnologia.</p>
                                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                                    target="_blank" class="fab fa-facebook-f"></i></a></li>
                                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                                    target="_blank" class="fab fa-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item"><a href="https://github.com/alinemx"
                                                    target="_blank" class="social-link"><i class="fab fa-github"></i></a>
                                                </li>
                                                <li class="list-inline-item"><a
                                                        href="https://www.linkedin.com/in/aline-monteiro-ximenes/?originalSubdomain=br"
                                                        target="_blank" class="social-link"><i class="fab fa-linkedin"></i></a>
                                                </li>
                                                <br />


                                            </div>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>

                            <!-- Quote 2 -->
                            <div class="carousel-item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-md-10 offset-md-1 d-md-flex d-block text-center text-lg-left">
                                            <img class="rounded-circle img-fluid" src="assets/Foto_Lucas.jpg"
                                                style="width: 200px;height:200px;">
                                            <div class="feedback-text pl-3">
                                                <h3>Lucas Augusto</h3>
                                                <p>Gosto muito de tecnologia e de poder compartilhar o que aprendo sobre
                                                    ela. Para isso escolhi fazer cursos como o MasterTech e o bootcamp
                                                    Dev. Web Jr. e um curso superior de tecnologia. Tenho muito apreço
                                                    também pela área pedagógica, sendo meu último trabalho como
                                                    professor de robótica e informática.</p>
                                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                                    target="_blank" class="fab fa-facebook-f"></i></a></li>
                                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                                    target="_blank" class="fab fa-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item"><a href="https://github.com/lucsaugusto"
                                                    target="_blank" class="social-link"><i class="fab fa-github"></i></a>
                                                </li>
                                                <li class="list-inline-item"><a
                                                        href="https://www.linkedin.com/in/lucsaugusto/"
                                                        target="_blank" class="social-link"><i class="fab fa-linkedin"></i></a>
                                                </li>


                                            </div>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>

                            <!-- Quote 3 -->
                            <div class="carousel-item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-md-10 offset-md-1 d-md-flex d-block text-center text-lg-left">
                                            <img class="rounded-circle img-fluid" src="assets/Foto_Matheus.jpg"
                                                style="width: 200px;height:200px;">
                                            <div class="feedback-text pl-3">
                                                <h3>Matheus Alves</h3>
                                                <p>Matheus Alves é desenvolvedor Java fullstack Jr, músico nas horas
                                                    livres, brasileiro, 20 anos.
                                                    Trabalhou como Jovem Aprendiz na Enel, trabalhou com musica e por
                                                    fim entrou na área de desenvolvimento o qual atua ainda hoje.
                                                    Ele sempre teve curiosidade e interesse em aprender coisas novas,
                                                    com isso se dedicou ao curso da Generation Brasil e desde lá vem
                                                    crescendo e se desenvolvendo na área.
                                                </p>
                                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                                    target="_blank" class="fab fa-facebook-f"></i></a></li>
                                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                                    target="_blank" class="fab fa-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item"><a href="https://github.com/Matheusdalves"
                                                    target="_blank" class="social-link"><i class="fab fa-github"></i></a>
                                                </li>
                                                <li class="list-inline-item"><a
                                                        href="https://www.linkedin.com/in/matheusdalves/"
                                                        target="_blank" class="social-link"><i class="fab fa-linkedin"></i></a>
                                                </li>
                                                <br />

                                            </div>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 4 -->
                            <div class="carousel-item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-md-10 offset-md-1 d-md-flex d-block text-center text-lg-left">
                                            <img class="rounded-circle img-fluid" src="assets/Foto_Paulo.jpg"
                                                style="width: 200px;height:200px;">
                                            <div class="feedback-text pl-3">
                                                <h3>Paulo Miranda</h3>
                                                <p>Paulo é Desenvolvedor Web Java Jr, percussionista e marketólogo. Após
                                                    experiências atuando na área bancária, decidi que era o momento para
                                                    me reinventar e começar em uma nova área: Desenvolvimento Web. Gosta
                                                    muito de aprender novas linguagens, de música brasileira e futebol.
                                                </p>
                                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                                    target="_blank" class="fab fa-facebook-f"></i></a></li>
                                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                                    target="_blank" class="fab fa-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item"><a href="https://github.com/paulo-miranda"
                                                    target="_blank" class="social-link"><i class="fab fa-github"></i></a>
                                                </li>
                                                <li class="list-inline-item"><a
                                                        href="https://www.linkedin.com/in/paulo-cesar-miranda"
                                                        target="_blank" class="social-link"><i class="fab fa-linkedin"></i></a>
                                                </li>
                                                <br />

                                            </div>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 5 -->
                            <div class="carousel-item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-md-10 offset-md-1 d-md-flex d-block text-center text-lg-left">
                                            <img class="rounded-circle img-fluid" src="assets/Foto_Thaty.jpg"
                                                style="width: 200px;height:200px;">
                                            <div class="feedback-text pl-3">
                                                <h3>Thatyana Soeiro</h3>
                                                <p>Thatyana Soeiro é desenvolvedora Java fullstack Jr. Antes de emergir
                                                    na área de tecnologia da
                                                    informação, ela se formou em Engenharia Química e também fez
                                                    mestrado na área de Simulaçao e
                                                    Otimização de Processos. Thatyana busca se desenvolver cada vez mais
                                                    no setor tecnológico,
                                                    aperfeiçoando suas competências e habilidades.</p>
                                                <li class="list-inline-item"><a href="#" target="_blank" class="social-link"><i
                                                            class="fab fa-facebook-f"></i></a></li>
                                                <li class="list-inline-item"><a href="#" target="_blank" class="social-link"><i
                                                            class="fab fa-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item"><a href="#" target="_blank" class="social-link"><i
                                                            class="fab fa-github"></i></a>
                                                </li>
                                                <li class="list-inline-item"><a
                                                        href="https://www.linkedin.com/in/thatyanasoeiro/"
                                                        target="_blank" class="social-link"><i
                                                            class="fab fa-linkedin"></i></a>
                                                </li>
                                                <br />

                                            </div>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>

                        <!-- Carousel Buttons Next/Prev -->
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#sq-crousal4" data-slide="prev">
                            <span class="fa fa-angle-left"></span>
                        </a>
                        <a class="carousel-control-next" href="#sq-crousal4" data-slide="next">
                            <span class="fa fa-angle-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>